@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Oswald&display=swap");
html {
  font-family: "DotGothic16", cursive;
}

body {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  color: #f7931a;
  font-size: 30px;
}

header {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

#result-section {
  display: none;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  flex: 1 0 auto;
}

#form-section {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  flex: 1 0 auto;
}

.flex-list {
  padding-left: 10px;
  padding-right: 10px;
}

.flex-list > li {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

input {
  padding: 10px;
  border: solid 1px #f7931a;
}

.flex-list > li > label,
.flex-list > li > span {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-list > li > label + *,
.flex-list > li > span + * {
  flex: 1 0 150px;
}

.action-btn {
  padding: 10px;
  flex: 100%;
  border-color: #f7931a;
  background-color: #f7931a;
  color: white;
  border-radius: 10px;
  font-size: 18px;
  text-transform: uppercase;
}

.result-span {
  margin-left: 5px;
}

#myChart {
  margin: auto;
  max-width: 90%;
  margin-bottom: 10px;
}

footer {
  flex-shrink: 0;
  text-align: center;
  padding-bottom: 10px;
}
